{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partidas de {{ time.nome }}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Campeonato</th>
                <th>Adversário</th>
                <th>Placar</th>
                <th>Local</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for partida in partidas %}
            <tr>
                <td>{{ partida.campeonato.nome }}</td>
                <td>
                    {% if time.id == partida.time_casa.id %}
                        {{ partida.time_visitante.nome }}
                    {% else %}
                        {{ partida.time_casa.nome }}
                    {% endif %}
                </td>
                <td>
                    {% if time.id == partida.time_casa.id %}
                        {{ partida.placar_casa }} X {{ partida.placar_visitante }}
                    {% else %}
                        {{ partida.placar_visitante }} X {{ partida.placar_casa }}
                    {% endif %}
                </td>
                <td>
                    {% if time.id == partida.time_casa.id %}
                        Time da Casa
                    {% else %}
                        Time Visitante
                    {% endif %}
                </td>
                <td>{{ partida.data_partida|date("d/m/Y") }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Não foram encontrados registros!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}